{% macro gallery(gallery_section, max=0) %}
  {% if gallery_section.pages | length > 0 %}
    <section class="page-width">
      <div class="Gallery">
        {% if max > 0 %}
          {% set items = gallery_section.pages | slice(end=max) %}
        {% else %}
          {% set items = gallery_section.pages %}
        {% endif %}

        {% for item in items %}
          {% set without_ext = self::gallery_image_without_ext(item=item) %}
          {% set image = without_ext ~ '.jpg' %}
          {% set image_hover = without_ext ~ '-hover.jpg' %}
          {% set image_meta = get_image_metadata(path=image) %}

          <div class="GalleryItem">
            <a href="{{ item.path }}">
              <div class="GalleryItem__Image">
                <img
                  alt="{{ item.title }}"
                  src="{{ image }}"
                  width="{{ image_meta.width }}"
                  height="{{ image_meta.height }}"
                />
              </div>
              <div class="GalleryItem__Title">
                {{ item.title }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endmacro %}

{% macro gallery_image_without_ext(item) -%}
  {{ ['', 'assets'] | concat(with=item.components) | join(sep='/') }}
{%- endmacro %}
