{% macro gallery(gallery_section, max=0) %}
  {% if gallery_section.pages | length > 0 %}
    <section class="page-width">
      <div class="Gallery">
        {% if max > 0 %}
          {% set pages = gallery_section.pages | slice(end=max) %}
        {% else %}
          {% set pages = gallery_section.pages %}
        {% endif %}

        {% for page in pages %}
          {% set image = self::gallery_image(page=page) %}
          {% set image_meta = get_image_metadata(path=image) %}

          <div class="GalleryItem">
            <a href="{{ page.path }}">
              <div class="GalleryItem__Image">
                <img
                  alt="{{ page.title }}"
                  src="{{ image }}"
                  width="{{ image_meta.width }}"
                  height="{{ image_meta.height }}"
                />
              </div>
              <div class="GalleryItem__Title">
                {{ page.title }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endmacro %}

{% macro gallery_image(page) %}
  {%- set without_ext = ['', 'assets'] | concat(with=page.components) | join(sep='/') -%}

  {{- without_ext ~ '.jpg' -}}
{% endmacro %}
