@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Montserrat-SemiBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Montserrat-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Montserrat-Black.subset.woff2') format('woff2');
}

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --aspect-ratio: 3 / 4;
  --color-accent: #5465ff; /* hsluv 264 100 50 */
  --color-text: #262626;
  --font-family: 'Montserrat', sans-serif;
  --header-height: 64px;
}

body {
  color: var(--color-text);
  line-height: 1.5;
  font-family: var(--font-family);
}

main {
  margin-top: calc(var(--header-height) + 32px);
}

a {
  color: inherit;
  transition: all 0.1s;
}

a:hover {
  color: var(--color-accent);
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

section > * + *,
section + section {
  margin-top: 16px;
}

.page-width {
  margin: 0 auto;
  padding: 0 8px;
  width: min(120ch, 100vw);
}

.Header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.Header__Inner {
  align-items: center;
  display: flex;
  height: var(--header-height);
}

.Header__HomeLink {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
}

.Header__Logo {
  width: 48px;
}

.Header__Logo + .Header__Name {
  margin-left: 16px;
}

.Header__Name {
  font-size: 1.25rem;
  font-weight: 600;
}

.Header__Menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.Header__Menu ul {
  display: flex;
  list-style: none;
}

.Header__Menu li + li {
  margin-left: 16px;
}

.Header__Menu a {
  text-decoration: none;
}

.Gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
}

.GalleryItem > * + * {
  margin-top: 8px;
}

.GalleryItem__Image {
  width: 100%;
}

.GalleryItem__Image {
  position: relative;
}

.GalleryItem__Image::after {
  background-color: #eee;
  content: '';
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.GalleryItem__Image img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.GalleryItem__Title {
  text-align: center;
}
