@font-face {
  font-family: 'Montserrat';
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: block;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Montserrat-SemiBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: block;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Montserrat-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: block;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Montserrat-Black.subset.woff2') format('woff2');
}

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --aspect-ratio: 3 / 4;
  --color-accent: #5465ff; /* hsluv 264 100 50 */
  --color-text: #262626;
  --duration: 0.2s;
  --font-family: 'Montserrat', sans-serif;
  --header-height: 64px;
  --layer-header: 1;
}

body {
  color: var(--color-text);
  line-height: 1.5;
  font-family: var(--font-family);
}

main {
  margin-bottom: 64px;
  margin-top: calc(var(--header-height) + 48px);
}

a {
  color: inherit;
  text-decoration-thickness: 0.075em;
  text-underline-offset: 0.25em;
  transition: all var(--duration);
}

a:hover {
  color: var(--color-accent);
}

h1,
h2 {
  font-weight: 900;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: -0.15em;
  text-underline-position: under;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

section + section {
  margin-top: 48px;
}

section > * + * {
  margin-top: 16px;
}

.page-width {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: min(1280px, 100%);
}

.Header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--layer-header);
}

.Header__Inner {
  align-items: center;
  display: flex;
  height: var(--header-height);
}

.Header__Inner > * {
  flex: 1;
}

.Header__HomeLink {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-decoration: none;
}

.Header__Logo {
  width: 48px;
}

.Header__Logo + .Header__Name {
  margin-left: 16px;
}

.Header__Name,
.Header__ArtistName {
  font-size: 1.25rem;
}

.Header__Name {
  font-weight: 600;
}

.Header__ArtistName {
  display: none;
}

.Header__Menu {
  display: none; /* TODO: mobile menu */
  flex: 1;
}

.Header__Menu ul {
  display: flex;
  list-style: none;
}

.Header__Menu li + li {
  margin-left: 16px;
}

.Header__Menu a {
  text-decoration-color: transparent;
}

.Header__Menu a:hover {
  text-decoration-color: var(--color-accent);
}

@media (min-width: 1080px) {
  .Header__HomeLink {
    justify-content: flex-start;
  }

  .Header__ArtistName {
    display: flex;
    justify-content: center;
  }

  .Header__Menu {
    display: flex;
    justify-content: flex-end;
  }
}

.Footer {
  margin-bottom: 64px;
}

.Footer__Menu ul {
  display: flex;
  list-style: none;
}

@media (max-width: 767px) {
  .Footer__Menu ul {
    align-items: center;
    flex-direction: column;
  }

  .Footer__Menu li + li {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .Footer__Menu ul {
    justify-content: center;
  }

  .Footer__Menu li + li {
    margin-left: 16px;
  }
}

.Footer__Menu a {
  text-decoration-color: transparent;
}

.Footer__Menu a:hover {
  text-decoration-color: var(--color-accent);
}

.PageContent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.PageContent p {
  font-size: 1.25rem;
  max-width: 100%;
  width: 72ch;
}

.Gallery {
  margin-bottom: -24px;
  margin-top: 32px;
  visibility: hidden;
}

.Gallery[data-masonry-layout-complete] {
  visibility: visible;
}

.GalleryItem {
  margin-bottom: 24px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .GalleryItem {
    width: calc((100% - 24px) * (1 / 2));
  }
}

@media (min-width: 1024px) {
  .GalleryItem {
    width: calc((100% - 48px) * (1 / 3));
  }
}

.GalleryItem__Title {
  background: var(--color-text);
  bottom: 0;
  color: #fff;
  display: grid;
  font-weight: 600;
  left: 0;
  margin: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: opacity 0.3s;
}

.GalleryItem:hover .GalleryItem__Title {
  opacity: 1;
}

.SingleImage {
  max-width: 768px;
}

/* Third party */

.Header {
  transition: opacity 0.3s; /* matches .medium-zoom-overlay transition */
}

.medium-zoom--opened .Header {
  opacity: 0;
}

.medium-zoom-image--opened {
  object-fit: cover; /* keeps aspect ratio when not 3:4 */
}
