<!DOCTYPE html>
<html lang="en-NZ">
<head>
  <title>{% block title %}{% endblock %} | therocketstation.art</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <link href="/assets/fonts/Montserrat-Black.subset.woff2" rel="preload" as="font" type="font/woff2" />
  <link href="/assets/fonts/Montserrat-Bold.subset.woff2" rel="preload" as="font" type="font/woff2" />
  <link href="/assets/fonts/Montserrat-Regular.subset.woff2" rel="preload" as="font" type="font/woff2" />
  <link href="/assets/fonts/Montserrat-SemiBold.subset.woff2" rel="preload" as="font" type="font/woff2" />
  <link href="/assets/therocketstation.art.css" rel="stylesheet" />
  <link href="/favicon.png" rel="icon" />
  <script defer type="module">
    import '/assets/therocketstation.art.js';
  </script>
</head>
<body>
  <header class="Header">
    <div class="Header__Inner page-width">
      <a class="Header__HomeLink" href="/">
        <div class="Header__Logo"><img alt="{{ config.title }}" src="/assets/logo.png" /></div>
        <div class="Header__Name">{{ config.title }}</div>
      </a>
      <div class="Header__ArtistName">{{ config.extra.artist_name }}</div>
      <nav class="Header__Menu">
        <ul>
          {% set collections = get_section(path='collections/_index.md', metadata_only=true) %}

          {% for path in collections.subsections %}
            {% set collection = get_section(path=path, metadata_only=true) %}

            <li><a href="{{ collection.path }}">{{ collection.title }}</a></li>
          {% endfor %}
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
