<!DOCTYPE html>
<html lang="en-NZ">
<head>
  <title>{% block title %}{% endblock %} | therocketstation.art</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <link href="/assets/therocketstation.art.css" rel="stylesheet" />
  <link href="/favicon.png" rel="icon" />
  <script defer type="module">
    import '/assets/therocketstation.art.js';
  </script>
</head>
<body>
  <header class="Header">
    <div class="Header__Inner page-width">
      <div class="Header__Logo"><a href="/"><img alt="{{ config.title }}" src="/assets/logo.png" /></a></div>
      <div class="Header__Name">{{ config.title }}</div>
      <nav class="Header__Menu">
        <ul>
          <li><a href="/originals">Originals</a></li>
          <li><a href="/prints">Prints</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
